@media only screen and (orientation: portrait) {
    :root {
        --max-width: 98vw;
        --max-height: 127vw; 
        
    }
}

* {
    box-sizing: border-box;
}
#interface-box {
    width: var(--max-width);
    height: 50vw;
    background-color: aqua;
    font-size: x-large;
    display: block;
}
    
#input-password {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#login {
    font-size: large;
}
#pwd {
    font-size: large;
    width: 20%;
    height: 25%;
}
#device-selection-container{
    width: 100%;
    height: 50%;
    /* background-color: #BC6E07; */
    /* background-color: #CDCCCC; */
    background-color:aquamarine;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    /* padding-left: 1.5%; */
    }

#container {
    width: var(--max-width);
    height: var(--max-height);
    background-color: #F3F3F3;
    border: 1px solid red;
    display: none;
    flex-direction: column;
}

#container-sessions {
    width: var(--max-width);
    height: 80%;
    /* background-color: yellow; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;

}
#part-selection{
    width: 100%;
    height: 40%;
    background-color: #E0DEDE;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items: center; /* horizontal center */
}

#container-speakers {
    width: 35%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items: end; /* horizontal center */
}
#container-images {
    width: 65%;
    height: 100%;
    display: flex;
flex-direction: column;
justify-content: space-evenly;
/* align-content: end; */
}

.img-speaker {
    height: 16%;
    width: auto;
}
.img-word {
    height: 20%;
    width: auto;
    border: 1px solid red;
    align-self: center;
}
#bottom {
    width: 100%;
    height: 60%;
    background-color: #E0DEDE;
    display: flex;
    flex-direction: row;
    justify-content: center; /*horizontal*/
    align-items: center;
}
/* Start button css */
#btn-start {
    background-color: #BC6E07;
    width: 20%;
    height: 50%;
    border-radius: 10px; 
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-align: center;
}

.prew-next {
    height: 50%;
    width: auto;
}
.blurry {
    opacity: 0.3;
}

#part-selection-btns {
    width: 100%;
    height: 20%;
    background-color: #E0DEDE;
    display: flex;
    flex-direction: column;
}
